@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MontserratRegular";
  src: url("../assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratMedium";
  src: url("../assets/fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "MontserratBold";
  src: url("../assets/fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "RobotoRegular";
  src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoMedium";
  src: url("../assets/fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "RobotoBold";
  src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.w-sider {
  width: 75px;
}

#content {
  margin-left: 75px;
}

.height_max-content {
  height: max-content;
}

.hover-underline {
  @apply transform hover:-translate-y-0.5 border-b-2 border-primary border-opacity-0 hover:border-opacity-50 transition-all;
}

.icon-spin:hover {
  animation: spin 2s linear infinite;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 350ms ease-in;
}

.loading {
  position: fixed;
  margin: auto;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
  background: rgba(82, 82, 82, 0.8);
  width: calc(100% - 75px);
  height: 100%;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (min-width: 1024px) {
  .w-sider {
    width: 300px;
  }

  #content {
    margin-left: 300px;
  }
  .loading {
    width: calc(100% - 300px);
  }
}

svg {
  vertical-align: baseline;
}
